<%= form_for Image.new do |f| %>
  <p>
    <%= f.file_field :photo, multiple: true, name: "image[photo]" %>
  </p>
<% end %>

<div class="thumbnail_grid">
  <% @images.each do |image| %>
    <div class="thumbnail">
      <%= image_tag image.photo_url %>
    </div>
  <% end %>
</div>