<%= form_for Image.new do |f| %>
  <p>
    <%= f.file_field :photo, multiple: true, name: "image[photo]" %>
  </p>
<% end %>

<% @images.each do |image| %>
  <%= image_tag image.photo_url(:thumb).to_s %>
<% end %>


<div class="thumbnail_grid">
  <% @images.each do |image| %>
    <div class="thumbnail">
      <%= image_tag image.photo_url(:thumb) %>
    </div>
  <% end %>
</div>